<%- include('header') %>

<h2>About Me --Prateek Kumar</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam suscipit ducimus voluptatem autem accusantium vel asperiores labore assumenda, quod laudantium minus, et molestiae temporibus pariatur illo. Corporis impedit adipisci possimus voluptate tempore sequi a iste veritatis? Mollitia veniam soluta laudantium, quod commodi dolorum, sunt quibusdam aspernatur beatae, distinctio nihil obcaecati.</p>

<%- include('footer') %>

