<%- include('header', {pageTitle:'Create New List'}) %>

    <div class="box">
        <form action="/create" method="post" class="item">
            <input type="text" name="newList" placeholder="Enter List Name" autocomplete="off">
            <button type="submit" value="">+</button>
        </form>
    </div>